
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$trust-fund-admin-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($trust-fund-admin-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($trust-fund-admin-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($trust-fund-admin-theme);
// regular style toast
@import 'ngx-toastr/toastr';


@import "tailwindcss";
@import "assets/styles/_themes.scss";
@import "assets/styles/_utilities.scss";

html, body { height: 100%; width: 100%; }
body { margin: 0; padding: 0; font-family: "Inter", "Helvetica Neue", sans-serif !important; }


.mat-mdc-dialog-title::before {
  display: inline-block;
  width: 0;
  height: 0 !important;
  content: none !important;
  vertical-align: 0;
}

.mat-mdc-dialog-title {
  display: block;
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 24px !important;
}

.mat-divider {
  border-top-color: #F0F0F0 !important;
}


// snackbar
.snack-bar {
  font-size: 24px;

  color: #fff !important;

}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border-radius: 12px !important;
  height: 56px !important;
  padding: 0px 16px !important;
  max-width: 100% !important;
  min-width: 100% !important;

  color: #fff !important;
}

.mdc-snackbar__label {
  padding-left: 0 !important;
  // width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
  visibility: hidden;
  padding-top: 14px;
  padding-bottom: 14px;

  color: #fff !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 20px !important; /* 142.857% */
  letter-spacing: 0.035px !important;
}


.mat-mdc-snack-bar-container {
  width: fit-content !important;
  &.download {
    --mdc-snackbar-container-color: var(--secondary);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.error {
    --mdc-snackbar-container-color: red !important;
    --mat-mdc-snack-bar-button-color:  !important;
    --mdc-snackbar-supporting-text-color: #fff !important;
    color: #fff !important;
  }

  &.success {
    --mdc-snackbar-container-color: green !important;
    --mat-mdc-snack-bar-button-color: #fff !important;
    --mdc-snackbar-supporting-text-color: #fff !important;

  }
}
// snackbar

.error {
  color: var(--red) !important;
  font-size: 12px !important;
}

.p-editor .p-editor-toolbar.ql-snow {
    border: 1px solid #D5D6D7 !important;
    // border-radius: 8px !important;
}

.p-editor .p-editor-content.ql-snow {
        border: 1px solid #D5D6D7 !important;
        // border-radius: 8px !important;
        // border-end-end-radius: 8px !important;
        // border-end-start-radius: 8px !important;
}

.p-editor .p-editor-content .ql-editor {
    background: var(--p-editor-content-background);
    color: var(--p-editor-content-color);
    border-end-end-radius: 8px !important;
    border-end-start-radius: 8px !important;
}
