
@if (approvedList?.length > 0) {
<div class="relative overflow-x-auto sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right">
      <thead class="text-sm text-primary leading-[22px] font-semibold bg-[#F5F5F5] text-nowrap">
          <tr>
              <th scope="col" class="p-4">
                  <div class="flex items-center">
                      <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-white border-4 border-tertiary rounded-sm focus:ring-blue-500">
                      <label for="checkbox-all-search" class="sr-only">checkbox</label>
                  </div>
              </th>
              <!-- <th scope="col" class="px-2 py-3">
                  User ID
              </th> -->
              <th scope="col" class="px-2 py-3">
                  Name
              </th>
              <th scope="col" class="px-2 py-3">
                  Registration Date
              </th>
              <th scope="col" class="px-2 py-3 ">
                 Status
              </th>
              <th scope="col" class="px-2 py-3 ">
               Referral Code
             </th>
              <th scope="col" class="px-2 py-3">
                  Action
              </th>
          </tr>
      </thead>
      <tbody class="text-sm font-medium leading-[22px] text-primary text-nowrap">
        @for (all of approvedList; track all.id) {
          <tr class="bg-white border-b  border-[#F5F5F5]">
              <td class="w-4 p-4">
                  <div class="flex items-center">
                      <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                      <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                  </div>
              </td>
              <!-- <td class="px-2 py-4">
                PEN-1024
            </td> -->
              <td class="px-2 py-4">
                  <div class="flex items-center">
                    <!-- <span><img [src]="'assets/images/user.png'" alt="User Image"/></span> -->
                    <span class="ml-2"> {{all?.firstName}} {{all?.lastName}}</span>

                </div>
              </td>
              <td class="px-2 py-4">
                {{all?.createdAt | date}}
              </td>
              <td class="px-2 py-4">
                <span [ngClass]="{'success': all?.pen, 'pending': !all?.pen}" class="text-[#3FB42D] text-xs font-semibold leading-[18px] tracking-[0.12px] p-[4px] bg-[#F0FBEF] rounded-sm">
                  {{all?.pen ? 'Approved' : 'Pending'}}
                </span>
              </td>
              <td class="px-2 py-4 ">
                 {{all?.referrals?.code? all?.referrals?.code : 'NIL'}}
              </td>
              <td class="px-2 py-4">
                  <a (click)="openUserProfileDialog(all)" class="cursor-pointer rounded-lg bg-[#D7EFFF] p-[8px] text-xs text-[#013355] font-medium leading-[18px] tracking-[0.12px]">View Profile</a>
              </td>
          </tr>
        }
      </tbody>
  </table>

</div>
} @else {
  <div class="col-span-full w-full justify-center items-center h-50">
    <app-empty-state [emptyState]="emptyState"></app-empty-state>
  </div>
}
