<main class="bg-white">
  <section>
    <div mat-dialog-title  class="">
      <div class="title-header flex justify-between items-center">
        <h2
          class="text-primary text-[18px] font-semibold  tracking-[0.18px]"
        >
        Change password
        </h2>
        <div>
          <div
            class="rounded-full p-[3px] bg-[#F5F5F5] text-tertiary cursor-pointer"
            (click)="closeDialog()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section >
    <div class=""  mat-dialog-content>
      <div class="form-container pb-[20px]">
        <form [formGroup]="passwordForm">

          <div class="mb-[24px]">
            <label class="label">Current password</label>
            <div class="relative">
            <input
              id="currentPassword"
              class="input-field placeholder-tertiary"
              placeholder="Enter your current password"
              [type]="container['fieldTextType'] ? 'text' : 'password'"
              formControlName="currentPassword"
            />
            <div class="error-wrapper" *ngIf="uiErrors.currentPassword">
              <span class="error">{{ uiErrors.currentPassword }}</span>
            </div>
            <div
              class="absolute inset-y-0 right-0 pr-[1rem] flex items-center "
            >
            <i class="{{
              container['fieldTextType']
                ? 'ri-eye-off-line'
                : 'ri-eye-line'
            }} text-[24px] cursor-pointer" (click)="showEyes()"></i>
            </div>
            </div>
          </div>

          <div class="mb-[24px]">
            <label class="label">New password</label>
            <div class="relative">
            <input
              id="newPassword"
              class="input-field placeholder-tertiary"
              placeholder="Enter your new password"
              [type]="container['fieldTextType'] ? 'text' : 'password'"
              formControlName="newPassword"
            />
            <div class="error-wrapper" *ngIf="uiErrors.newPassword">
              <span class="error">{{ uiErrors.newPassword }}</span>
            </div>
            <div
              class="absolute inset-y-0 right-0 pr-[1rem] flex items-center "
            >
            <i class="{{
              container['fieldTextType']
                ? 'ri-eye-off-line'
                : 'ri-eye-line'
            }} text-[24px] cursor-pointer" (click)="showEyes()"></i>
            </div>
            </div>
          </div>


          <div class="mb-[24px]">
            <label class="label">Confirm new password</label>
            <div class="relative">
            <input
              id="confirmNewPassword"
              class="input-field placeholder-tertiary"
              placeholder="Enter your confirm new password"
              [type]="container['fieldTextType'] ? 'text' : 'password'"
              formControlName="confirmNewPassword"
            />
            <div class="error-wrapper" *ngIf="uiErrors.password">
              <span class="error">{{ uiErrors.password }}</span>
            </div>
            <div
              class="absolute inset-y-0 right-0 pr-[1rem] flex items-center "
            >
            <i class="{{
              container['fieldTextType']
                ? 'ri-eye-off-line'
                : 'ri-eye-line'
            }} text-[24px] cursor-pointer" (click)="showEyes()"></i>
            </div>
            </div>
          </div>


        </form>


      </div>
    </div>
  </section>

  <section>
    <div class="btn-container" mat-dialog-actions>
      <button class="cancel-btn">
        Cancel
      </button>
      <button class="save-btn"    [disabled]="submitting"
      (click)="onSubmit()">
        <div class="flex justify-center">
          <span class="" *ngIf="!submitting">Change my password</span>
          <app-loader2 *ngIf="submitting"></app-loader2>
          </div>
      </button>
  </div>
  </section>
</main>
