<main>
  <section>
    <div class="title-container mt-[64px]">
      <h1 class="header1">Analytics</h1>
    </div>
  </section>

  <section>
    <div class="anlysis-container mt-[20px]">
      <div
        class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-4"
      >
        <div class="border border-[#F5F5F5] bg-[#F5F5F5] rounded-[20px]  px-[4px] pb-[4px]" >
        <div class="title-container py-[24px] px-[8px]">
          <span class="text-base font-bold leading-[24px] text-primary">Accounts</span>
        </div>
        <div class="">
           <div class="bg-white rounded-[16px] px-[8px] py-[24px]">
               <div class="flex justify-between items-center">
              <span class="font-semibold text-sm leading-[22px] text-primary">Registered</span>
              <span class="font-medium text-sm leading-[22px] text-primary">53% (4,328)</span>
               </div>

               <div class="flex justify-between items-center mt-[24px]">
                <span class="font-semibold text-sm leading-[22px] text-primary">Transferred</span>
                <span class="font-medium text-sm leading-[22px] text-primary">22% (7,312)</span>
                 </div>

                 <div class="flex justify-between items-center mt-[24px]">
                  <span class="font-semibold text-sm leading-[22px] text-primary">Activated</span>
                  <span class="font-medium text-sm leading-[22px] text-primary">17% (528)</span>
                   </div>

                   <div class="flex justify-between items-center mt-[24px]">
                    <span class="font-semibold text-sm leading-[22px] text-primary">Pending</span>
                    <span class="font-medium text-sm leading-[22px] text-primary">4% (128)</span>
                     </div>

                     <div class="flex justify-between items-center mt-[24px]">
                      <span class="font-semibold text-sm leading-[22px] text-primary">Dormant</span>
                      <span class="font-medium text-sm leading-[22px] text-primary">4% (128)</span>
                       </div>
           </div>
        </div>
      </div>
      <div class="border border-[#F5F5F5] bg-[#F5F5F5] rounded-[20px]  px-[4px] pb-[4px]" >
        <div class="title-container py-[24px] px-[8px]">
          <span class="text-base font-bold leading-[24px] text-primary">Contributions</span>
        </div>
        <div class="">
           <div class="bg-white rounded-[16px] px-[8px] py-[24px]">
               <div class="flex justify-between items-center">
              <span class="font-semibold text-sm leading-[22px] text-primary">Active</span>
              <span class="font-medium text-sm leading-[22px] text-primary">53% (4,328)</span>
               </div>

               <div class="flex justify-between items-center mt-[24px]">
                <span class="font-semibold text-sm leading-[22px] text-primary">Inactive</span>
                <span class="font-medium text-sm leading-[22px] text-primary">22% (7,312)</span>
                 </div>

                 <div class="flex justify-between items-center mt-[24px]">
                  <span class="font-semibold text-sm leading-[22px] text-primary">Micro pensions</span>
                  <span class="font-medium text-sm leading-[22px] text-primary">17% (528)</span>
                   </div>

                   <div class="flex justify-between items-center mt-[24px]">
                    <span class="font-semibold text-sm leading-[22px] text-primary">Voluntary contributions</span>
                    <span class="font-medium text-sm leading-[22px] text-primary">4% (128)</span>
                     </div>

                     <div class="flex justify-between items-center mt-[24px]">
                      <span class="font-semibold text-sm leading-[22px] text-primary">Late contributions</span>
                      <span class="font-medium text-sm leading-[22px] text-primary">4% (128)</span>
                       </div>
           </div>
        </div>
      </div>
      <div class="border border-[#F5F5F5] bg-[#F5F5F5] rounded-[20px]  px-[4px] pb-[4px]" >
        <div class="title-container py-[24px] px-[8px]">
          <span class="text-base font-bold leading-[24px] text-primary">Funds subscriptions</span>
        </div>
        <div class="">
           <div class="bg-white rounded-[16px] px-[8px] py-[24px]">
               <div class="flex justify-between items-center">
              <span class="font-semibold text-sm leading-[22px] text-primary">Fund I</span>
              <span class="font-medium text-sm leading-[22px] text-primary">53% (4,328)</span>
               </div>

               <div class="flex justify-between items-center mt-[24px]">
                <span class="font-semibold text-sm leading-[22px] text-primary">Fund II</span>
                <span class="font-medium text-sm leading-[22px] text-primary">22% (7,312)</span>
                 </div>

                 <div class="flex justify-between items-center mt-[24px]">
                  <span class="font-semibold text-sm leading-[22px] text-primary">Fund III</span>
                  <span class="font-medium text-sm leading-[22px] text-primary">17% (528)</span>
                   </div>

                   <div class="flex justify-between items-center mt-[24px]">
                    <span class="font-semibold text-sm leading-[22px] text-primary">Fund IV</span>
                    <span class="font-medium text-sm leading-[22px] text-primary">4% (128)</span>
                     </div>

                     <div class="flex justify-between items-center mt-[24px]">
                      <span class="font-semibold text-sm leading-[22px] text-primary">Fund V</span>
                      <span class="font-medium text-sm leading-[22px] text-primary">4% (128)</span>
                       </div>
           </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <section>
    <div
    class="filter-container flex flex-col sm:flex-col md:flex-row lg:flex-row xl:flex-row justify-between items-center gap-y-3 mt-[29px]"
  >
<div class="text-container">
<span class="text-sm font-semibold leading-[22px] text-black">How genders compare across months and funds</span>
</div>

    <div class="filter-container">
      <div class="flex flex-row gap-3 items-center">
        <div class="filter-button">
          <button class="filter cursor-pointer"
          [matMenuTriggerFor]="menuFilter"><span class="flex items-center">All <svg class="ml-[6px]" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M12.6673 6L8.00065 10.6667L3.33398 6" stroke="#737477" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
            </svg></span></button>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="2" height="26" viewBox="0 0 2 26" fill="none">
            <path d="M1 1V25" stroke="#F0F0F0" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
        </div>

        <div class="filter-button">
      <button class="filter cursor-pointer"
      [matMenuTriggerFor]="menuFilter"><span class="flex items-center">This year <svg class="ml-[6px]" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M12.6673 6L8.00065 10.6667L3.33398 6" stroke="#737477" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></span></button>
        </div>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="2" height="26" viewBox="0 0 2 26" fill="none">
            <path d="M1 1V25" stroke="#F0F0F0" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
        </div>
        <div class="export-button">
          <button class="filter cursor-pointer"
          [matMenuTriggerFor]="menuExport"><span class="flex items-center">Export <svg class="ml-[6px]"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M2.66602 10.6666V11.3333C2.66602 11.8637 2.87673 12.3724 3.2518 12.7475C3.62687 13.1226 4.13558 13.3333 4.66602 13.3333H11.3327C11.8631 13.3333 12.3718 13.1226 12.7469 12.7475C13.122 12.3724 13.3327 11.8637 13.3327 11.3333V10.6666M10.666 7.99996L7.99935 10.6666M7.99935 10.6666L5.33268 7.99996M7.99935 10.6666V2.66663" stroke="#737477" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
            </svg></span></button>
        </div>
      </div>

      <mat-menu #menuFilter="matMenu">
        <div
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()"
      >
        <button mat-menu-item class="mb-[20px]">
          <div class="flex items-center ">
          <span class="text-sm leading-[22px] text-primary font-[400]">Date</span>
        </div>
        </button>
        <button mat-menu-item class="mb-[20px]">
          <div class="flex items-center ">
          <span class="text-sm leading-[22px] text-primary font-[400]">Male</span>
        </div>
        </button>
        </div>
      </mat-menu>

      <mat-menu #menuExport="matMenu">
        <div
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()"
      >
        <button mat-menu-item class="mb-[36px]">
          <div class="flex items-center ">
            <span class="">
              <img
              [src]="'assets/images/pdf.png'"
              width="32"
              height="32"
              alt="PDF"
            />
        </span>
          <span class="text-sm leading-[20px] text-primary font-[510] ml-[10px]">Export as PDF</span>
        </div>
        </button>
        <button mat-menu-item class="mb-[36px]">
          <div class="flex items-center ">
            <span class="">
              <img
              [src]="'assets/images/xls.png'"
              width="32"
              height="32"
              alt="PDF"
            />
        </span>
          <span class="text-sm leading-[20px] text-primary font-[510] ml-[10px]">Export as XLSX</span>
        </div>
        </button>
        </div>
      </mat-menu>
    </div>
  </div>

  <div class="chart-container w-full mt-[39px] pb-[38px]">
    <canvas baseChart
    [data]="barChartData"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [type]="'bar'">
</canvas>

  </div>
  </section>
</main>
