<main class="bg-white">
  <section>
    <div mat-dialog-title  class="">
      <div class="title-header flex justify-between items-center">
        <h2
          class="text-primary text-[18px] font-semibold  tracking-[0.18px]"
        >
        {{data?.create ? 'Create user' : 'Edit permission'}}
        </h2>
        <div>
          <div
            class="rounded-full p-[3px] bg-[#F5F5F5] text-tertiary cursor-pointer"
            (click)="closeDialog()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section >
    <div class=""  mat-dialog-content>
      <div class="form-container pb-[20px]">
        <div class="form-group flex flex-col gap-1">
          <label class="label2">Select role</label>
          <input
          type="text"
          id="select_role"
          class="input-field placeholder-tertiary text-sm"
          placeholder="Select Role"
        />
        </div>

        <div class="form-group flex flex-col gap-1 mt-[24px]">
          <label class="label2">Name</label>
          <input
          type="text"
          id="name"
          class="input-field placeholder-tertiary text-sm"
          placeholder="Name of user"
        />
        </div>

        <div class="form-group flex flex-col gap-1 mt-[24px]">
          <label class="label2">Department</label>
          <input
          type="text"
          id="department"
          class="input-field placeholder-tertiary text-sm"
          placeholder="department"
        />
        </div>

        <div class="form-group flex flex-col gap-1 mt-[24px]">
          <label class="label2">Staff ID</label>
          <input
          type="text"
          id="staff_id"
          class="input-field placeholder-tertiary text-sm"
          placeholder="Enter staff ID"
        />
        </div>


      </div>
    </div>
  </section>

  <section>
    <div class="btn-container" mat-dialog-actions>
      <button class="cancel-btn">
        Cancel
      </button>
      <button class="save-btn">
        Approve user
      </button>
  </div>
  </section>
</main>
